



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row form-horizontal justify-content-center">
            <div class="col-sm-3 ">
                <h1>File Upload</h1>
            </div>
            <div class="col-sm-3">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">File Upload Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row form-horizontal justify-content-center">
            <!-- left column -->
            <div class="col-lg-6 ">

                <!-- Horizontal Form -->
                <div class="card card-info ">
                    <div class="card-header">
                        <h3 class="card-title">File Upload Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" asp-controller="" asp-action="" asp-antiforgery="true">
                        <div class="card-body">
                            
                            <div class="form-group row">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Upload</button>
                            <a asp-action="Index" asp-controller="Attendance" class="btn btn-default float-right">Cancel</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
    </div>
</section>

