<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row form-horizontal justify-content-center">
            <div class="col-sm-3 ">
                <h1>Export Section</h1>
            </div>
            <div class="col-sm-3">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Export Data</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row form-horizontal justify-content-center">
            <!-- left column -->
            <div class="col-lg-6 ">

                <!-- Horizontal Form -->
                <div class="card card-info ">
                    <div class="card-header">
                        <h3 class="card-title">Export Section</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" asp-controller="Export" asp-action="ExportAsExcel" asp-antiforgery="true">
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Export</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
    </div>
</section>

